
services:
  mysql:
    build:
      context: ./backend/database
    image: jirawatrmutto/moneylab-mysql:latest
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  express:
    build:
      context: ./backend
      
    image: jirawatrmutto/moneylab-express:latest
    depends_on:
      - mysql
      - flask
    ports:
      - "5000:5000"

      
  category-express:
    build:
      context: ./backend
      dockerfile: dockerfile.express
    image: jirawatrmutto/moneylab-category-express:latest
    depends_on:
      - mysql
    ports:
      - "5001:5001"
      

  flask:
    build:
      context: ./backend/model/ocr_module
      
    image: jirawatrmutto/moneylab-flask:latest
    depends_on:
      - mysql
    ports:
      - "8000:8000"

    
  category-trainer:
    build:
      context: ./backend/model/CategoryPredictorML
      dockerfile: dockerfile.trainer
    image: jirawatrmutto/moneylab-categorypredictorml:latest
    depends_on:
      - mysql
    volumes:
      - ./model_data:/usr/src/app/model_data
    

     
  web:
    build:
      context: ./frontend/web
    image:  jirawatrmutto/moneylabe-web:latest
    depends_on:
      - express
      - flask
    ports:
      - "80:80"

volumes:
  db_data: