@tailwind base;
@tailwind components;
@tailwind utilities;

@layer styles {
  .text-box {
    @apply 
    w-full px-4 py-3 
    rounded-sm 
    outline-none 
    border-none 
    bg-white 
    text-black 
    placeholder-gray-500 
    transition-all duration-200 
    shadow-sm 
    shadow-[#9CAAD6] 
    font-be-vietnam-pro;
  }
  
  .text-box:focus {
    @apply 
    ring-4 ring-[#4FB7B3] 
    border-4 border-[#4FB7B3];
  }

  .btn-primary {
    @apply 
    w-[155px] h-[40px] 
    bg-[#4FB7B3] 
    justify-center mx-auto
    flex items-center
    rounded-[20px] mt-6
    text-white font-bold 
    font-be-vietnam-pro 
    shadow-md
    transition-colors duration-200;
  }

  .btn-primary:hover {
    @apply 
    hover:bg-[#C7DCDE]
    hover:border-2 hover:border-[#4FB7B3] 
    hover:text-[#008170] 
    hover:shadow-none;
  }
}